extends layout

block content

  each img in image_list
    .post
      a(href=img.url)
        .post-img(style=`background-image: url(${img.link})`)
      .post-inf
        .post-usr
          a(href=img.user.url) @#{img.user.username}
        a(href=img.url)
          .post-dsc #{img.description}
          .post-dat #{img.date_formatted}

  else
    h1 There are no public images on this website.
